$red: #FF5E5B;
$beige: #FFFFEA;
$blue: #00CECB;
$yellow: #FFED66;
$grey: #D8D8D8;

body {
    background-color: $beige;
    padding: 15px;

    font-family: 'Slabo 27px', serif;
}

.post-wrapper {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: $red;
    text-align: center;
}

h2 {
    color: $blue;
}